#booksPageBorderPane{
    -fx-background-image: url('../../resources/bg2.jpg');
    -fx-background-size:1792 1190 ;

}
#addButton{
    -fx-text-fill:#ABEEFE;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-font-size: 25;
    -fx-background-color: #354F91;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#addButton:hover{
    -fx-font-family: "Times New Roman";
    -fx-background-color: #ABEEFE;
    -fx-text-fill:#354F91;
     -fx-font-weight:bold;
    -fx-font-size: 25;
}
#homePage{
    -fx-text-fill: #ABEEFE;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-font-size: 25;
    -fx-background-color:#354F91;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#homePage:hover{
    -fx-background-color: #ABEEFE;
    -fx-text-fill:#354F91;
    -fx-font-family: "Times New Roman";
    -fx-font-weight:bold;
    -fx-font-size: 25;
}
#sectionScrollPane{
    -fx-background: transparent;
    -fx-background-color: transparent;
}
GridPane{
    -fx-background: transparent;
    -fx-background-color: transparent;
}