#sectionName{
    -fx-text-fill:#1C3177;
    -fx-font:35pt "Times New Roman";
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
 #nameColumn,#availability,#price,#quantity,#section,#isbnId,#timesBorrowed{
     -fx-font:13pt "Times New Roman";

}
 #tableBorderPane{
     -fx-background-image: url('../../resources/bg2.jpg');
     -fx-background-size:1792 1190 ;
 }
 #SectionPage,#findByName,#insertButtonApi,#insertButton,#deleteButton,#details,#back{
     -fx-text-fill:  white;
     -fx-font-family: "Arial Narrow";
     -fx-font-weight: bold;
     -fx-font-size: 34;
     -fx-background-color: #354F91;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
 }
 #SectionPage:hover,#findByName:hover,#insertButtonApi:hover,#insertButton:hover,#back:hover,#deleteButton:hover,#details:hover{
     -fx-background-color:  white;
     -fx-font-family: "Arial Narrow";
     -fx-text-fill:#354F91;
     -fx-font-weight:bold;
     -fx-font-size: 34;
 }